* {
    margin: 0;
    box-sizing: border-box;

}
.header {
    width: 100%;
    background-color: #DC143C;
    margin: auto;
    padding: 20px;
}
img{
    width: 25%;
    display: block;
    margin: auto;
}